<div class="formContainer">
	<div class="formBox">

<div class="row navigation">
	<div class="small-12 columns text-center">
		<a href="/blogs/<%= @blog.id %>" class="button tiny">Back</a>
		<a href="/" class="button tiny">Home</a>
	</div>
</div>

<h2 class="center">Edit <span class="blue"><%= @blog.title %></span></h2>
<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
		<p class="red"><%= error %></p>
	<% end %>
<% end %>
<%= form_for @blog, :url => {:action => 'update', :id => @blog.id, method: :patch }, :html => {:multipart => true} do |f| %>
	<div class="row">
		<div class="small-6 large-centered columns">
			<div class="row">
				<div class="small-2 columns"><%= f.label :title %></div>
				<div class="small-10 columns"><%= f.text_field :title %></div>
			</div>
		</div>
		<div class="small-6 large-centered columns">
			<div class="row">
				<div class="small-3 columns"><%= f.label :content %></div>
				<div class="small-9 columns"><%= f.text_area :content %></div>
			</div>
		</div>
		<div class="small-6 large-centered columns">
			<div class="row">
				<div class="small-2 columns"><%= f.label :image %></div>
				<div class="small-10 columns"><%= f.file_field :image %></div>
			</div>
		</div>
		<br /><br />
		<div class="small-6 large-centered columns">
			<div class="row">
				<div class="small-6 small-offset-2 columns">
					<%= f.submit "Edit Blog", :class => "button round tiny success" %>
				</div>
			</div>
		</div>
	</div>
<% end %>
	</div>
</div>
