<h1>The Divine Ms. MMacaron<h1>
<!-- BEGIN REGULAR NAVIGATION -->
<h2>Regular Navigation</h2>
<% if !session[:user_id] %>
<a href="/about/show">About</a>
<a href="products/index">Products</a>
<a href="sessions/new">Sign In</a>
<a href="users/new">Sign Up</a>
<% end %>
<% if session[:user_id] %>
<a href="/about/show">About</a>
<a href="products/index">Products</a>
<a href="/orders/new">Place Order Request</a>
<a href="/users/<%= @user.id %>/edit">Edit Profile</a>
<a href="/signout">Logout</a>
<% end %>
<!-- END REGULAR NAVIGATION -->
<% if flash[:success] %>
	<p><%= flash[:success] %></p>
<% end %>
<% if flash[:login_success] %>
	<p><%= flash[:login_success] %><%= @user.first_name %></p>
<% end %>
<!-- BEGIN ADMIN ONLY CONTROLS -->
<% if @user %>
	<% if @user.admin == true %>
	<h2>Admin Controls</h2>
		<a href="blogs/new">Post Blog Entry</a>
		<a href="products/new">Post New Product</a>
		<a href="orders/index">Order Requests</a>
		<a href="users/index">Control Registered Users</a>
	<% end %>
<% end %>
<!-- END ADMIN ONLY CONTROLS / BEGIN BLOG POSTS -->
<h2>BLOG ENTRIES</h2>
<% @blogs.each do |blog| %> 
<div class="blogPost">
<a href="blogs/<%= blog.id %>"><h1><%= blog.title %></h1></a>
<p><%= blog.created_at.to_formatted_s(:long_ordinal) %></p>
<% if blog.image? %>
	<%= image_tag blog.image.url %>
<% end %>
<p><%= blog.content %></p>
</div>
<% end %>