<div class="container">
	

<div class="singlePost">
	<div class="row navigation">
		<a href="/" class="button tiny">Home</a>
		<% if @user %>
			<% if @user.admin == true %>
				<a href="/blogs/<%= @blog.id %>" data-confirm="Are you sure?" data-method="delete" class="button tiny alert">Remove Blog Entry and Associated Comments</a>
				<a href="/blogs/<%= @blog.id %>/edit" class="button tiny success">Edit Blog</a>
			<% end %> 
		<% end %>
	</div> 

	<h1 class="showTitle"><%= @blog.title %></h1>
	<p class="center"><%= @blog.created_at.strftime('%b' ' ' '%d' ',' ' ' '%Y') %></p>
	<% if @blog.image? %>
		<div class="blogImage"><%= image_tag @blog.image.url %></div>
	<% end %>
	<p class="content"><%= @blog.content %></p>
	<% if @user %>
		
		<div class="row">
			<div class="small-6 large-centered columns">
				<h3>Post Comment</h3>
			</div>
		</div>
		<div class="row">
			<div class="small-6 large-centered columns">
				<% if flash[:errors] %>
					<% flash[:errors].each do |error| %>
						<p class="red"><%= error %></p>
					<% end %>
				<% end %>
				<% if flash[:success] %>
					<p><%= flash[:success] %></p>
				<% end %>
			</div>
		</div>
		
		
		<%= form_for @message, :url => messages_create_path do |f| %>
			<%= f.hidden_field :user_id, :value => @user.id %>
			<%= f.hidden_field :blog_id, :value => @blog.id %>
				<div class="row">
					<div class="small-6 large-centered columns">
						<%= f.text_area :message %>
					</div>
				</div>
				<div class="row">
					<div class="small-6 large-centered columns">
						<%= f.submit "Post Comment", :class => 'button tiny success' %>
					</div>
				</div>
		<% end %>
	<% end %>
	<div class="row">
		<div class="small-6 large-centered columns">
			<h3 class="comments">Comments</h3>
			<h6 class="comments">*You must be logged in to post a Comment</h6>
		</div>
	</div>
	<div class="row">
		<div class="small-8 large-centered columns">
			<% @messages.each do |message| if @blog.id == message.blog.id %>
			<div class="message_block">
			<p class="bold"><%= message.user.first_name %> <%= message.user.last_name %>:</p>
			<p class="message_content">"<%= message.message %>"</p>
			<p class="bold"><%= message.created_at.strftime('%b' ' ' '%d' ',' ' ' '%Y') %></p>
				<% if @user && message.user.id == @user.id %>
					<a href="/messages/<%= message.id %>" data-confirm="Are you sure?" data-method="delete" class="button tiny alert round">Remove Comment</a>
				<% end %>
			</div>
		<% end %>
		<% end %>
		</div>
	</div>
</div>
<footer></footer>
</div>