<a href="/">Home</a>
<h1>Edit Info</h1>
<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
		<p class="red"><%= error %></p>
	<% end %>
<% end %>
<%= form_for @user, :url => { :action => 'update', :id => @user.id, method: :patch } do |f| %>
	<div class="field">
		<%= f.label :first_name %><br />
		<%= f.text_field :first_name %>
	</div>
	<br />
	<div class="field">
		<%= f.label :last_name %><br />
		<%= f.text_field :last_name %>
	</div>
	<br />
	<div class="field">
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</div>
	<br />
	<p>*Password should be at least 8 characters</p>
	<p>*You must fill out password fields to update information<br />*This will update your password if a new one is entered</p>
	<div class="field">
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</div>
	<br />
	<div class="field">
		<%= f.label "Confirm Password" %><br />
		<%= f.password_field :password_confirmation %>
	</div>
	<br />
	<div class="actions">
	    <%= f.submit "Update" %>
	 </div>
<% end %>