<a href="/">Home</a>
<h1>Edit/Remove Registered Users</h1>
<% if flash[:success] %>
	<p><%= flash[:success] %></p>
<% end %>
<table>
	<thead>
		<th>User Name</th>
		<th>User Email</th>
		<th>Admin?</th>
		<th>Action</th>
	</thead>

	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.first_name %> <%= user.last_name %></td>
			<td><%= user.email %></td>
			<td><%= user.admin %></td>
			<td><a href="/users/<%= user.id %>/edit">Edit</a> | <a href="/users/<%= user.id %>" data-confirm="Are you sure?" data-method="delete">Remove</a></td>
		</tr>
		<% end %>
	</tbody>
</table>

