<div class="formContainer">
	<div class="formBox">

<div class="row navigation">
	<div class="small-12 columns text-center">
		<a href="/" class="button tiny">Home</a>
	</div>
</div>
	<h3 class="center">Register to make comments or place order requests</h3>
		<div class="centered_flash">
			<% if flash[:errors] %>
				<% flash[:errors].each do |error| %>
					<p class="red"><%= error %></p>
				<% end %>
			<% end %>
			<% if flash[:success] %>
				<p><%= flash[:success] %></p>
			<% end %>
		</div>
		<%= form_for( :user, :url => users_create_path ) do |f| %>
			<div class="row">
				<div class="small-6 large-centered columns">
					<div class="row">
						<div class="small-2 columns"><%= f.label :first_name %></div>
						<div class="small-10 columns"><%= f.text_field :first_name %></div>
					</div>
				</div>
				<div class="small-6 large-centered columns">
					<div class="row">
						<div class="small-2 columns"><%= f.label :last_name %></div>
						<div class="small-10 columns"><%= f.text_field :last_name %></div>
					</div>
				</div>
				<div class="small-6 large-centered columns">
					<div class="row">
						<div class="small-2 columns"><%= f.label :email %></div>
						<div class="small-10 columns"><%= f.text_field :email %></div>
					</div>
				</div>

				<p class="center">*Password should be at least 8 characters</p>

				<div class="small-6 large-centered columns">
					<div class="row">
						<div class="small-3 columns"><%= f.label :password %></div>
						<div class="small-9 columns"><%= f.password_field :password %></div>
					</div>
				</div>
				<div class="small-6 large-centered columns">
					<div class="row">
						<div class="small-3 columns"><%= f.label "Confirm Password" %></div>
						<div class="small-9 columns"><%= f.password_field :password_confirmation %></div>
					</div>
				</div>
				<div class="small-6 large-centered columns">
					<div class="row">
						<div class="small-6 small-offset-2 columns">
					    	<%= f.submit "Register", :class => "button round tiny success" %>
					    </div>
					    <div class="small-6 columns"><p>Have an account? <a href="/sessions/new">Sign in</a></p></div>
					</div>
				</div>
			</div>
		<% end %>
			</div>
</div>