<div class="formContainer"> 
	<div class="formBox">

<div class="row navigation">
	<div class="small-12 columns text-center">
		<a href="/" class="button tiny">Home</a>
	</div>
</div>

<h2 class="center">Place Order Request</h2>
<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
		<p class="red"><%= error %></p>
	<% end %>
<% end %>
<h6 class="center">* Note: Until a shopping cart is added, this form is intended for friends and family of Meagan Whitehead only</h6>
<h6 class="center">* Things to include: Quantity, Address, Contact #(if desired), Choose from products listed on the site unless special instructions from Meagan</h6>
<br /><br />
<%= form_for @order, :url => orders_create_path do |f| %> 
<div class="row">
	<div class="small-6 large-centered columns">
		<div class="row">
			<div class="small-2 columns"><%= f.label "Order Details" %></div>
			<div class="small-10 columns"><%= f.text_area :content %></div>
			<%= f.hidden_field :user_id, :value => @user.id %>
		</div>
	</div>
		<div class="small-6 large-centered columns">
            <div class="row">
              <div class="small-6 small-offset-2 columns">
              	<%= f.submit "Place Order Request", :class => "button round tiny success" %>
              </div>
            </div>
    	</div>
</div>
<% end %>
	</div>
</div>
