<div class="formContainer">
	<div class="formBox">


<div class="row navigation">
	<div class="small-12 columns text-center">
		<a href="/products/<%= @product.id %>" class="button tiny">Back</a>
		<a href="/products/index" class="button tiny">Products</a>
		<a href="/" class="button tiny">Home</a>
	</div>
</div>

<h2 class="center">Edit <span class="blue"><%= @product.name %></span></h2>
<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
		<p class="red"><%= error %></p>
	<% end %>
<% end %>
<%= form_for @product, :url => {:action => 'update', :id => @product.id, method: :patch }, :html => {:multipart => true} do |f| %>
	<div class="row">
		<div class="small-6 large-centered columns">
			<div class="row">
				<div class="small-2 columns"><%= f.label :name %></div>
				<div class="small-10 columns"><%= f.text_field :name %></div>
			</div>
		</div>
		<div class="small-6 large-centered columns">
			<div class="row">
				<div class="small-4 columns"><%= f.label :description %></div>
				<div class="small-8 columns"><%= f.text_area :description %></div>
			</div>
		</div>
		<div class="small-6 large-centered columns">
			<div class="row">
				<div class="small-2 columns"><%= f.label :image %></div>
				<div class="small-10 columns"><%= f.file_field :image %></div>
			</div>
		</div>
		<br /><br />
		<div class="small-6 large-centered columns">
			<div class="row">
				<div class="small-6 small-offset-2 columns">
					<%= f.submit "Edit Product", :class => "button round tiny success" %>
				</div>
			</div>
		</div>
	</div>
	
<% end %>
</div>
</div>
